In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 20)

In [2]:
netflix = pd.read_csv("netflix_titles.csv.zip")
imdb = pd.read_csv("IMDB.csv.zip")

In [3]:
df = pd.DataFrame.join(netflix, imdb)

In [4]:
df = df[df['IMDB_rating'] != 'Not Found']

In [5]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_titleID,IMDB_rating,IMDB_title_name
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,/title/tt9428190/,3.1 based on 235 user ratings,Norm of the North: King Sized Adventure (2019)
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,/title/tt6999080/,5.3 based on 15 user ratings,Jandino: Whatever it Takes (2016) (TV Special)
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",/title/tt1659175/,"7.8 based on 4,891 user ratings",Transformers Prime (2010) (TV Series)
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,/title/tt3604232/,6.0 based on 764 user ratings,Transformers: Robots in Disguise (2014) (TV S...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,/title/tt6119504/,"5.2 based on 4,866 user ratings",#REALITYHIGH (2017)

In [6]:
df = df.drop('IMDB_title_name', axis=1)

In [7]:
seasons = []
movie_duration = []
for i in range(len(df)):
    tmp = df.iloc[i]['duration']
    number = tmp.split(" ")[0]
    if 'Season' in tmp:
        seasons.append(number)
        movie_duration.append(np.nan)
    else:
        seasons.append(np.nan)
        movie_duration.append(number)

In [8]:
df['seasons'] = seasons
df['movie_duration'] = movie_duration

In [9]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB_titleID,IMDB_rating,seasons,movie_duration
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,/title/tt9428190/,3.1 based on 235 user ratings,NaN,90
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,/title/tt6999080/,5.3 based on 15 user ratings,NaN,94
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",/title/tt1659175/,"7.8 based on 4,891 user ratings",1,NaN
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,/title/tt3604232/,6.0 based on 764 user ratings,1,NaN
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,/title/tt6119504/,"5.2 based on 4,866 user ratings",NaN,99

In [10]:
df = df.drop('duration', axis=1)

In [29]:
average_rating = [float(df.iloc[i]['IMDB_rating'].split(" ")[0]) for i in range(len(df))]
number_rating = [int((df.iloc[i]['IMDB_rating'].split(" ")[3]).replace(',','')) for i in range(len(df))]

In [30]:
df['average_rating'] = average_rating
df['number_rating'] = number_rating

In [32]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,IMDB_titleID,IMDB_rating,seasons,movie_duration,average_rating,number_rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,/title/tt9428190/,3.1 based on 235 user ratings,NaN,90,3.1,235
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,/title/tt6999080/,5.3 based on 15 user ratings,NaN,94,5.3,15
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,Kids' TV,"With the help of three human allies, the Autob...",/title/tt1659175/,"7.8 based on 4,891 user ratings",1,NaN,7.8,4891
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,Kids' TV,When a prison ship crash unleashes hundreds of...,/title/tt3604232/,6.0 based on 764 user ratings,1,NaN,6.0,764
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,Comedies,When nerdy high schooler Dani finally attracts...,/title/tt6119504/,"5.2 based on 4,866 user ratings",NaN,99,5.2,4866

In [39]:
for col in ['type','rating']:
    print(df[col].unique())

['Movie' 'TV Show']
['TV-PG' 'TV-MA' 'TV-Y7-FV' 'TV-Y7' 'TV-14' 'R' 'PG-13' 'NR' 'TV-G' 'PG'
 'TV-Y' 'G' nan 'UR' 'NC-17']

In [42]:
df = df.drop('IMDB_rating', axis=1)
df = df.drop('show_id', axis=1)

In [52]:
df = df[['IMDB_titleID',
'type',
'title',
'release_year',
'seasons',
'movie_duration',
'average_rating',
'number_rating',
'director',
'cast',
'country',
'date_added',
'rating',
'listed_in',
'description'
]]

df.head()

,IMDB_titleID,type,title,release_year,seasons,movie_duration,average_rating,number_rating,director,cast,country,date_added,rating,listed_in,description
0,/title/tt9428190/,Movie,Norm of the North: King Sized Adventure,2019,NaN,90,3.1,235,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",TV-PG,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,/title/tt6999080/,Movie,Jandino: Whatever it Takes,2016,NaN,94,5.3,15,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",TV-MA,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,/title/tt1659175/,TV Show,Transformers Prime,2013,1,NaN,7.8,4891,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",TV-Y7-FV,Kids' TV,"With the help of three human allies, the Autob..."
3,/title/tt3604232/,TV Show,Transformers: Robots in Disguise,2016,1,NaN,6.0,764,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",TV-Y7,Kids' TV,When a prison ship crash unleashes hundreds of...
4,/title/tt6119504/,Movie,#realityhigh,2017,NaN,99,5.2,4866,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",TV-14,Comedies,When nerdy high schooler Dani finally attracts...

In [53]:
df.to_csv('../Netflix_Library_join_IMDB_rating.csv')